<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div>
    <p th:text="#{name}"></p> <p th:text="#{student_number}"></p> <p th:text="#{email}"></p>
</div>
</body>
</html>