<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
    <div th:insert="sequence_input :: seq_form"></div>
    <div th:fragment="matches">
        <h3 th:text="#{page.inputlab}">_input-lab_</h3><h3 th:text="${input}">_input_</h3>
        <table id="matches">
            <caption th:text="#{page.matches}"></caption>
            <thead>
            <tr>
                <th th:text="#{tab.lab1}">_ID_</th>
                <th th:text="#{tab.lab2}">_AC_</th>
                <th th:text="#{tab.lab3}">_last-edited_</th>
                <th th:text="#{tab.lab4}">_Pattern_</th>
                <th th:text="#{tab.lab5}">_Description_</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="protein:${proteins}">
                <td th:text="${protein.id}">_title_</td>
                <td th:text="${protein.ac}">_year_</td>
                <td th:text="${protein.dt}">_rating_</td>
                <td th:text="${protein.pa}">_rating_</td>
                <td th:text="${protein.de}">_rating_</td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
    </div>

    <div>
        <table id="history">
            <caption th:text="#{page.history}">caption offline</caption>
            <tbody>
            <tr th:each="item, iter : ${history_seq}">
                <td>
                    <table id="history_matches">
                        <caption th:text="${history_seq.get(iter.index)}">seq offline</caption>
                        <thead>
                        <tr>
                            <th th:text="#{tab.lab1}">_ID_</th>
                            <th th:text="#{tab.lab2}">_AC_</th>
                            <th th:text="#{tab.lab3}">_last-edited_</th>
                            <th th:text="#{tab.lab4}">_Pattern_</th>
                            <th th:text="#{tab.lab5}">_Description_</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hprotein:${history.get(iter.index)}">
                            <td th:text="${hprotein.id}">_title_</td>
                            <td th:text="${hprotein.ac}">_year_</td>
                            <td th:text="${hprotein.dt}">_rating_</td>
                            <td th:text="${hprotein.pa}">_rating_</td>
                            <td th:text="${hprotein.de}">_rating_</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="footer"></div>
</body>
</html>