<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Description</title>
</head>
<body>
<div th:name="project_description">
    <h4 th:text="#{page.project_title}">title offline</h4>
    <p th:text="#{page.project_description}">description offline</p>
</div>
</body>
</html>