<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Input Rejected</title>
</head>
<body>
    <h2 th:text="#{page.error}"></h2>
    <div th:insert="sequence_input :: seq_form"></div>
    <p th:text="#{page.correct_input}"></p>
    <div th:insert="footer"></div>
</body>
</html>