<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
    <div th:fragment="seq_form">
        <form action="/ServletSequence" method="get">
            <label for="seq" th:text="#{page.form}"></label><br>
            <input id="seq" name="sequence" type="text"><br>
            <input type="submit">
        </form>
    </div>
    <div th:insert="footer"></div>
</body>
</html>